{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
-%}

{%- unless product.empty? -%}
  <div
    data-product-images
    data-zoom="{{ product_zoom_enable }}"
    data-has-slideshow="{% if product.media.size > 1 %}true{% else %}false{% endif %}">
    <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}{% if product.media.size == 0 %} hide{% endif %}">

      <div class="product__main-photos" data-product-single-media-group>
        <div data-product-photos class="product-slideshow" id="ProductPhotos-{{ section_id }}">
          {%- for media in product.media -%}
            {%- render 'media',
              section_id: section_id,
              media: media,
              featured_media: featured_media,
              loopIndex0: forloop.index0,
              loopIndex: forloop.index,
              product_zoom_enable: product_zoom_enable,
              product_zoom_size: product_zoom_size,
              image_size: image_size,
              isModal: isModal,
              video_looping: video_looping,
              video_style: video_style
            -%}
          {%- endfor -%}
        </div>

        {%- if first_3d_model -%}
          <button
            aria-label="{{ 'products.product.view_in_space_label' | t }}"
            class="product-single__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title }}"
            data-shopify-xr-hidden
          >
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
            <span class='product-single__view-in-space-text'>
              {{ 'products.product.view_in_space' | t }}
            </span>
          </button>
        {%- endif -%}
      </div>

      <div
        data-product-thumbs
        class="product__thumbs product__thumbs--{{ thumbnail_position }} product__thumbs-placement--{{ image_position }}{% if product.media.size == 1 %} medium-up--hide{% endif %} small--hide"
        data-position="{{ thumbnail_position }}"
        data-arrows="{{ thumbnail_arrows }}">
        {%- if thumbnail_arrows -%}
          <button type="button" class="product__thumb-arrow product__thumb-arrow--prev hide" aria-label="{{ 'general.pagination.previous' | t }}">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
          </button>
        {%- endif -%}

        <div class="product__thumbs--scroller">
          {%- if product.media.size > 1 -%}
            {%- for media in product.media -%}
              {%- liquid
                assign image_set = false
                assign image_set_group = ''
                if media.alt contains '#'
                  assign image_set_full = media.alt | split: '#' | last
                  if image_set_full contains '_'
                    assign image_set = true
                    assign image_set_group = image_set_full | split: '_' | first
                  endif
                endif
              -%}
              <div class="product__thumb-item"
                data-index="{{ forloop.index0 }}"
                {% if image_set %}
                  data-set-name="{{image_set_group}}"
                  data-group="{{image_set_full}}"
                {% endif %}>
                <a
                  href="{{ media.preview_image | img_url: product_zoom_size }}"
                  data-product-thumb
                  class="product__thumb js-no-transition"
                  data-index="{{ forloop.index0 }}"
                  data-id="{{ media.id }}">
                  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: media.preview_image.aspect_ratio }}%;">

                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        <span class="product__thumb-icon">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
                        </span>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                        <span class="product__thumb-icon">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
                        </span>
                      {%- endif -%}

                      {%- assign img_url = media.preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[120, 360, 540, 720]"
                          data-aspectratio="{{ media.preview_image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ media.alt | escape | split: '#' | first }}">

                      <noscript>
                        <img class="lazyloaded"
                          src="{{ media | img_url: '400x' }}"
                          alt="{{ media.alt | escape }}">
                      </noscript>
                  </div>
                </a>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>

        {%- if thumbnail_arrows -%}
          <button type="button" class="product__thumb-arrow product__thumb-arrow--next" aria-label="{{ 'general.pagination.next' | t }}">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
          </button>
        {%- endif -%}
      </div>
    </div>

    <span class="product-badge badge-bestseller medium-up--hide">Bestseller</span>
    <span class="product-badge badge-freeshipping medium-up--hide">
      <svg width="43" height="43" viewBox="0 0 43 43" xmlns="http://www.w3.org/2000/svg"> <path d="M34.8115 15.8332H32.1043L32.92 6.46816C32.9215 6.45119 32.9217 6.43448 32.9218 6.41777C32.9218 6.41634 32.922 6.415 32.922 6.41357C32.922 6.41332 32.922 6.41315 32.922 6.4129C32.922 6.158 32.7682 5.93334 32.5422 5.83567C32.5403 5.83483 32.5384 5.83382 32.5365 5.83298C32.5225 5.8271 32.508 5.82206 32.4933 5.81719C32.4879 5.81543 32.4827 5.81325 32.4772 5.81157C32.4653 5.80796 32.453 5.8051 32.4409 5.80216C32.4323 5.80014 32.4241 5.79771 32.4154 5.79603C32.4047 5.79393 32.3937 5.79259 32.3827 5.79099C32.3725 5.78948 32.3624 5.78772 32.3521 5.78679C32.3503 5.78662 32.3487 5.78629 32.347 5.78612C32.3359 5.78511 32.325 5.78528 32.314 5.78486C32.3066 5.78461 32.2993 5.78377 32.292 5.78377H32.2841C32.2834 5.78377 32.2827 5.78377 32.2821 5.78377H19.4013C19.0536 5.78377 18.7714 6.06596 18.7714 6.41365C18.7714 6.76051 19.0536 7.04354 19.4013 7.04354H31.6054L30.3518 21.4364C30.3517 21.4375 30.3517 21.4386 30.3515 21.4397L30.0352 25.0713H8.14803L8.51412 21.2921H12.6815C13.0295 21.2921 13.3114 21.0101 13.3114 20.6622C13.3114 20.3144 13.0295 20.0324 12.6815 20.0324H8.63623L9.40923 12.0542H16.0419C16.3899 12.0542 16.6718 11.7722 16.6718 11.4243C16.6718 11.0765 16.3899 10.7945 16.0419 10.7945H9.53134L9.89483 7.04354H16.8818C17.2286 7.04354 17.5117 6.76051 17.5117 6.41365C17.5117 6.06596 17.2286 5.78377 16.8818 5.78377H9.32314C9.32281 5.78377 9.32255 5.78385 9.32222 5.78385C9.02634 5.78377 8.76968 5.99205 8.70762 6.28079C8.7072 6.28289 8.70644 6.2849 8.70602 6.287C8.70283 6.30271 8.70073 6.31875 8.69863 6.33488C8.69804 6.34 8.69695 6.34487 8.69645 6.34999C8.69636 6.351 8.69611 6.35192 8.69603 6.35293L8.26569 10.7945H0.629885C0.281937 10.7945 0 11.0765 0 11.4243C0 11.7722 0.281937 12.0542 0.629885 12.0542H8.14358L7.37058 20.0324H5.12323C4.77529 20.0324 4.49335 20.3144 4.49335 20.6622C4.49335 21.0101 4.77529 21.2921 5.12323 21.2921H7.24855L6.82762 25.6359C6.82754 25.6366 6.82754 25.6372 6.82745 25.6378L6.17665 32.3548C6.17657 32.3556 6.17649 32.3564 6.1764 32.3571L6.17615 32.3595C6.17531 32.3683 6.1754 32.3769 6.17489 32.3856C6.1743 32.3972 6.17313 32.4085 6.17313 32.4203C6.17313 32.4208 6.17321 32.4213 6.17321 32.4219C6.17321 32.4381 6.17439 32.454 6.17556 32.47C6.17607 32.4751 6.1759 32.4803 6.17649 32.4854C6.17817 32.5016 6.18094 32.5177 6.18388 32.5336C6.18472 32.5384 6.18514 32.5431 6.18606 32.5478C6.1885 32.5599 6.19194 32.5715 6.19513 32.5834C6.19732 32.5917 6.19908 32.6002 6.2016 32.6083C6.20235 32.6106 6.20336 32.6128 6.20403 32.6151C6.23452 32.7088 6.28625 32.793 6.35378 32.8617C6.35504 32.863 6.35605 32.8644 6.35731 32.8656C6.36402 32.8723 6.37133 32.8783 6.37839 32.8847C6.42181 32.9245 6.47085 32.9583 6.52452 32.9847C6.53569 32.9903 6.54669 32.9961 6.55811 33.0009C6.56156 33.0024 6.56525 33.0034 6.56878 33.0047C6.58457 33.011 6.60044 33.0171 6.61682 33.0222C6.61833 33.0226 6.61976 33.0229 6.62127 33.0234C6.63991 33.0289 6.65873 33.0338 6.67796 33.0377C6.68048 33.0382 6.68308 33.0384 6.68552 33.0389C6.70383 33.0423 6.72222 33.0453 6.74095 33.0471C6.74137 33.0471 6.7417 33.0472 6.74212 33.0473C6.76278 33.0493 6.78328 33.0503 6.8036 33.0503C6.80385 33.0503 6.80419 33.0502 6.80452 33.0502H9.60861C9.91826 35.3979 11.931 37.2161 14.3619 37.2161C16.7927 37.2161 18.8054 35.3979 19.115 33.0502H29.2183C29.528 35.3979 31.5406 37.2161 33.9715 37.2161C36.4022 37.2161 38.4151 35.3979 38.7248 33.0502H41.5296C41.53 33.0502 41.5305 33.0503 41.5309 33.0503C41.5519 33.0503 41.5726 33.0491 41.5931 33.047C41.5968 33.0467 41.6003 33.046 41.604 33.0455C41.6204 33.0436 41.6367 33.0413 41.6526 33.0381C41.6595 33.0368 41.6662 33.035 41.673 33.0334C41.6853 33.0305 41.6977 33.0275 41.7098 33.0239C41.7181 33.0214 41.726 33.0186 41.7341 33.0158C41.7444 33.0123 41.7548 33.0086 41.7649 33.0045C41.7737 33.001 41.782 32.9972 41.7905 32.9935C41.7997 32.9892 41.8089 32.9848 41.8179 32.9802C41.8265 32.9758 41.8347 32.9713 41.8429 32.9666C41.8516 32.9616 41.8602 32.9563 41.8686 32.951C41.8765 32.9459 41.8844 32.9408 41.892 32.9354C41.9006 32.9295 41.9087 32.9232 41.917 32.9168C41.9239 32.9113 41.9309 32.906 41.9376 32.9002C41.9462 32.8929 41.9544 32.8853 41.9626 32.8775C41.9683 32.872 41.9743 32.8666 41.9798 32.8609C41.9886 32.852 41.9969 32.8426 42.0052 32.8331C42.0097 32.828 42.0143 32.8231 42.0186 32.8179C42.0278 32.8064 42.0362 32.7947 42.0446 32.7828C42.0474 32.7787 42.0506 32.7749 42.0534 32.7707C42.0637 32.7553 42.0733 32.7395 42.0822 32.7232C42.0829 32.7222 42.0836 32.7213 42.084 32.7202C42.0935 32.7027 42.1022 32.6848 42.11 32.6663C42.1122 32.6611 42.1139 32.6556 42.116 32.6503C42.1211 32.6373 42.1261 32.6243 42.1304 32.6107C42.1332 32.602 42.1352 32.593 42.1376 32.5842C42.1404 32.5737 42.1434 32.5633 42.1457 32.5526C42.1478 32.5431 42.1492 32.5334 42.1507 32.5237C42.1522 32.5153 42.154 32.5069 42.1551 32.4983C42.1818 32.2843 42.6751 28.327 42.8954 25.7682C42.8956 25.7657 42.8957 25.7632 42.8959 25.7608C42.9594 25.0231 43 24.402 43 24.0217C43 19.5066 39.3267 15.8332 34.8115 15.8332ZM31.9946 17.0931H34.5715L34.2423 20.8721H31.6654L31.9946 17.0931ZM14.3621 35.9563C12.4122 35.9563 10.8259 34.37 10.8259 32.4202C10.8259 30.4704 12.4123 28.8841 14.3621 28.8841C16.3118 28.8841 17.8981 30.4704 17.8981 32.4202C17.8981 34.37 16.3118 35.9563 14.3621 35.9563ZM33.9715 35.9563C32.0217 35.9563 30.4355 34.37 30.4355 32.4202C30.4355 30.4704 32.0218 28.8841 33.9715 28.8841C35.9213 28.8841 37.5077 30.4704 37.5077 32.4202C37.5077 34.37 35.9213 35.9563 33.9715 35.9563ZM40.973 31.79H38.725C38.4154 29.4423 36.4027 27.6239 33.9716 27.6239C31.5408 27.6239 29.528 29.4423 29.2184 31.79H19.1153C18.8057 29.4423 16.793 27.6239 14.3621 27.6239C11.9311 27.6239 9.91826 29.4423 9.60869 31.79H7.49698L8.026 26.3307H30.6124V26.331C30.6128 26.331 30.613 26.331 30.6133 26.331C30.6344 26.331 30.6553 26.3299 30.676 26.3278C30.6799 26.3274 30.6836 26.3266 30.6875 26.3261C30.704 26.3242 30.7203 26.3218 30.7365 26.3186C30.7434 26.3172 30.7502 26.3153 30.7571 26.3136C30.7697 26.3106 30.7823 26.3076 30.7946 26.3039C30.803 26.3014 30.811 26.2984 30.8191 26.2955C30.8297 26.2918 30.8403 26.2882 30.8505 26.284C30.8593 26.2804 30.8678 26.2764 30.8764 26.2723C30.8857 26.2681 30.895 26.2638 30.904 26.2591C30.9126 26.2545 30.921 26.2497 30.9295 26.2448C30.9381 26.2398 30.9467 26.2346 30.9551 26.2293C30.9632 26.224 30.971 26.2184 30.9788 26.2129C30.9871 26.207 30.9951 26.201 31.0032 26.1947C31.0104 26.1889 31.0176 26.1829 31.0246 26.1768C31.0326 26.1699 31.0404 26.1628 31.048 26.1555C31.0544 26.1494 31.0607 26.1431 31.0669 26.1366C31.0745 26.1287 31.0818 26.1206 31.089 26.1123C31.0947 26.1057 31.1002 26.0992 31.1056 26.0924C31.1126 26.0836 31.1192 26.0746 31.1257 26.0654C31.1307 26.0585 31.1355 26.0516 31.1402 26.0446C31.1463 26.0351 31.1522 26.0253 31.1578 26.0154C31.1621 26.008 31.1665 26.0006 31.1703 25.9931C31.1756 25.9832 31.1802 25.9731 31.1849 25.9629C31.1886 25.9548 31.1924 25.9468 31.1958 25.9384C31.1999 25.9285 31.2033 25.9183 31.207 25.9082C31.2101 25.8992 31.2133 25.8902 31.2161 25.881C31.2189 25.8712 31.2211 25.8612 31.2237 25.8513C31.2261 25.8413 31.2288 25.8314 31.2307 25.8213C31.2327 25.8113 31.2338 25.8013 31.2353 25.7912C31.2369 25.7808 31.2386 25.7705 31.2396 25.7599C31.2398 25.7584 31.2401 25.757 31.2402 25.7555L31.5559 22.1316H34.8113C36.7412 22.1316 37.6116 23.1315 38.533 24.1902C39.2933 25.0637 40.1422 26.0384 41.585 26.2761C41.4018 28.2136 41.1056 30.7009 40.973 31.79ZM41.6927 25.0138C40.7567 24.823 40.1808 24.165 39.4831 23.3634C38.6106 22.3611 37.5454 21.1379 35.5035 20.9099L35.8294 17.1686C39.169 17.6625 41.7402 20.5472 41.7402 24.0219C41.7402 24.258 41.7226 24.601 41.6927 25.0138Z"></path> <path d="M14.3621 30.1105C13.0886 30.1105 12.0525 31.1466 12.0525 32.4201C12.0525 33.6937 13.0886 34.7297 14.3621 34.7297C15.6355 34.7297 16.6716 33.6937 16.6716 32.4201C16.6716 31.1467 15.6355 30.1105 14.3621 30.1105ZM14.3621 33.4699C13.7832 33.4699 13.3123 32.999 13.3123 32.4201C13.3123 31.8412 13.7832 31.3703 14.3621 31.3703C14.941 31.3703 15.4119 31.8412 15.4119 32.4201C15.4119 32.999 14.9409 33.4699 14.3621 33.4699Z"></path>  <path d="M33.9715 30.1105C32.698 30.1105 31.6619 31.1466 31.6619 32.4201C31.6619 33.6937 32.698 34.7297 33.9715 34.7297C35.245 34.7297 36.2811 33.6937 36.2811 32.4201C36.2811 31.1467 35.245 30.1105 33.9715 30.1105ZM33.9715 33.4699C33.3926 33.4699 32.9217 32.999 32.9217 32.4201C32.9217 31.8412 33.3926 31.3703 33.9715 31.3703C34.5504 31.3703 35.0213 31.8412 35.0213 32.4201C35.0213 32.999 34.5504 33.4699 33.9715 33.4699Z"></path> <path d="M5.96293 15.8334H2.88355C2.5356 15.8334 2.25366 16.1154 2.25366 16.4633C2.25366 16.8111 2.5356 17.0932 2.88355 17.0932H5.96293C6.31088 17.0932 6.59282 16.8111 6.59282 16.4633C6.59282 16.1154 6.31088 15.8334 5.96293 15.8334Z"></path></svg>
      Free shipping within USA
    </span>
  </div>

  <script type="application/json" id="ModelJson-{{ section_id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- else -%}
  <div
    data-product-images
    data-zoom="false"
    data-has-slideshow="false">
    <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">
      <div class="product__main-photos" style="width: 100%">
        <div data-product-photos class="product-slideshow">
          <div class="product-main-slide" data-index="{{ forloop.index0 }}">
            <a href="#">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <span class="product-badge badge-bestseller medium-up--hide">{{ 'products.product.badge.bestseller' | t }}</span>
    <span class="product-badge badge-freeshipping medium-up--hide">
      <svg width="43" height="43" viewBox="0 0 43 43" xmlns="http://www.w3.org/2000/svg"> <path d="M34.8115 15.8332H32.1043L32.92 6.46816C32.9215 6.45119 32.9217 6.43448 32.9218 6.41777C32.9218 6.41634 32.922 6.415 32.922 6.41357C32.922 6.41332 32.922 6.41315 32.922 6.4129C32.922 6.158 32.7682 5.93334 32.5422 5.83567C32.5403 5.83483 32.5384 5.83382 32.5365 5.83298C32.5225 5.8271 32.508 5.82206 32.4933 5.81719C32.4879 5.81543 32.4827 5.81325 32.4772 5.81157C32.4653 5.80796 32.453 5.8051 32.4409 5.80216C32.4323 5.80014 32.4241 5.79771 32.4154 5.79603C32.4047 5.79393 32.3937 5.79259 32.3827 5.79099C32.3725 5.78948 32.3624 5.78772 32.3521 5.78679C32.3503 5.78662 32.3487 5.78629 32.347 5.78612C32.3359 5.78511 32.325 5.78528 32.314 5.78486C32.3066 5.78461 32.2993 5.78377 32.292 5.78377H32.2841C32.2834 5.78377 32.2827 5.78377 32.2821 5.78377H19.4013C19.0536 5.78377 18.7714 6.06596 18.7714 6.41365C18.7714 6.76051 19.0536 7.04354 19.4013 7.04354H31.6054L30.3518 21.4364C30.3517 21.4375 30.3517 21.4386 30.3515 21.4397L30.0352 25.0713H8.14803L8.51412 21.2921H12.6815C13.0295 21.2921 13.3114 21.0101 13.3114 20.6622C13.3114 20.3144 13.0295 20.0324 12.6815 20.0324H8.63623L9.40923 12.0542H16.0419C16.3899 12.0542 16.6718 11.7722 16.6718 11.4243C16.6718 11.0765 16.3899 10.7945 16.0419 10.7945H9.53134L9.89483 7.04354H16.8818C17.2286 7.04354 17.5117 6.76051 17.5117 6.41365C17.5117 6.06596 17.2286 5.78377 16.8818 5.78377H9.32314C9.32281 5.78377 9.32255 5.78385 9.32222 5.78385C9.02634 5.78377 8.76968 5.99205 8.70762 6.28079C8.7072 6.28289 8.70644 6.2849 8.70602 6.287C8.70283 6.30271 8.70073 6.31875 8.69863 6.33488C8.69804 6.34 8.69695 6.34487 8.69645 6.34999C8.69636 6.351 8.69611 6.35192 8.69603 6.35293L8.26569 10.7945H0.629885C0.281937 10.7945 0 11.0765 0 11.4243C0 11.7722 0.281937 12.0542 0.629885 12.0542H8.14358L7.37058 20.0324H5.12323C4.77529 20.0324 4.49335 20.3144 4.49335 20.6622C4.49335 21.0101 4.77529 21.2921 5.12323 21.2921H7.24855L6.82762 25.6359C6.82754 25.6366 6.82754 25.6372 6.82745 25.6378L6.17665 32.3548C6.17657 32.3556 6.17649 32.3564 6.1764 32.3571L6.17615 32.3595C6.17531 32.3683 6.1754 32.3769 6.17489 32.3856C6.1743 32.3972 6.17313 32.4085 6.17313 32.4203C6.17313 32.4208 6.17321 32.4213 6.17321 32.4219C6.17321 32.4381 6.17439 32.454 6.17556 32.47C6.17607 32.4751 6.1759 32.4803 6.17649 32.4854C6.17817 32.5016 6.18094 32.5177 6.18388 32.5336C6.18472 32.5384 6.18514 32.5431 6.18606 32.5478C6.1885 32.5599 6.19194 32.5715 6.19513 32.5834C6.19732 32.5917 6.19908 32.6002 6.2016 32.6083C6.20235 32.6106 6.20336 32.6128 6.20403 32.6151C6.23452 32.7088 6.28625 32.793 6.35378 32.8617C6.35504 32.863 6.35605 32.8644 6.35731 32.8656C6.36402 32.8723 6.37133 32.8783 6.37839 32.8847C6.42181 32.9245 6.47085 32.9583 6.52452 32.9847C6.53569 32.9903 6.54669 32.9961 6.55811 33.0009C6.56156 33.0024 6.56525 33.0034 6.56878 33.0047C6.58457 33.011 6.60044 33.0171 6.61682 33.0222C6.61833 33.0226 6.61976 33.0229 6.62127 33.0234C6.63991 33.0289 6.65873 33.0338 6.67796 33.0377C6.68048 33.0382 6.68308 33.0384 6.68552 33.0389C6.70383 33.0423 6.72222 33.0453 6.74095 33.0471C6.74137 33.0471 6.7417 33.0472 6.74212 33.0473C6.76278 33.0493 6.78328 33.0503 6.8036 33.0503C6.80385 33.0503 6.80419 33.0502 6.80452 33.0502H9.60861C9.91826 35.3979 11.931 37.2161 14.3619 37.2161C16.7927 37.2161 18.8054 35.3979 19.115 33.0502H29.2183C29.528 35.3979 31.5406 37.2161 33.9715 37.2161C36.4022 37.2161 38.4151 35.3979 38.7248 33.0502H41.5296C41.53 33.0502 41.5305 33.0503 41.5309 33.0503C41.5519 33.0503 41.5726 33.0491 41.5931 33.047C41.5968 33.0467 41.6003 33.046 41.604 33.0455C41.6204 33.0436 41.6367 33.0413 41.6526 33.0381C41.6595 33.0368 41.6662 33.035 41.673 33.0334C41.6853 33.0305 41.6977 33.0275 41.7098 33.0239C41.7181 33.0214 41.726 33.0186 41.7341 33.0158C41.7444 33.0123 41.7548 33.0086 41.7649 33.0045C41.7737 33.001 41.782 32.9972 41.7905 32.9935C41.7997 32.9892 41.8089 32.9848 41.8179 32.9802C41.8265 32.9758 41.8347 32.9713 41.8429 32.9666C41.8516 32.9616 41.8602 32.9563 41.8686 32.951C41.8765 32.9459 41.8844 32.9408 41.892 32.9354C41.9006 32.9295 41.9087 32.9232 41.917 32.9168C41.9239 32.9113 41.9309 32.906 41.9376 32.9002C41.9462 32.8929 41.9544 32.8853 41.9626 32.8775C41.9683 32.872 41.9743 32.8666 41.9798 32.8609C41.9886 32.852 41.9969 32.8426 42.0052 32.8331C42.0097 32.828 42.0143 32.8231 42.0186 32.8179C42.0278 32.8064 42.0362 32.7947 42.0446 32.7828C42.0474 32.7787 42.0506 32.7749 42.0534 32.7707C42.0637 32.7553 42.0733 32.7395 42.0822 32.7232C42.0829 32.7222 42.0836 32.7213 42.084 32.7202C42.0935 32.7027 42.1022 32.6848 42.11 32.6663C42.1122 32.6611 42.1139 32.6556 42.116 32.6503C42.1211 32.6373 42.1261 32.6243 42.1304 32.6107C42.1332 32.602 42.1352 32.593 42.1376 32.5842C42.1404 32.5737 42.1434 32.5633 42.1457 32.5526C42.1478 32.5431 42.1492 32.5334 42.1507 32.5237C42.1522 32.5153 42.154 32.5069 42.1551 32.4983C42.1818 32.2843 42.6751 28.327 42.8954 25.7682C42.8956 25.7657 42.8957 25.7632 42.8959 25.7608C42.9594 25.0231 43 24.402 43 24.0217C43 19.5066 39.3267 15.8332 34.8115 15.8332ZM31.9946 17.0931H34.5715L34.2423 20.8721H31.6654L31.9946 17.0931ZM14.3621 35.9563C12.4122 35.9563 10.8259 34.37 10.8259 32.4202C10.8259 30.4704 12.4123 28.8841 14.3621 28.8841C16.3118 28.8841 17.8981 30.4704 17.8981 32.4202C17.8981 34.37 16.3118 35.9563 14.3621 35.9563ZM33.9715 35.9563C32.0217 35.9563 30.4355 34.37 30.4355 32.4202C30.4355 30.4704 32.0218 28.8841 33.9715 28.8841C35.9213 28.8841 37.5077 30.4704 37.5077 32.4202C37.5077 34.37 35.9213 35.9563 33.9715 35.9563ZM40.973 31.79H38.725C38.4154 29.4423 36.4027 27.6239 33.9716 27.6239C31.5408 27.6239 29.528 29.4423 29.2184 31.79H19.1153C18.8057 29.4423 16.793 27.6239 14.3621 27.6239C11.9311 27.6239 9.91826 29.4423 9.60869 31.79H7.49698L8.026 26.3307H30.6124V26.331C30.6128 26.331 30.613 26.331 30.6133 26.331C30.6344 26.331 30.6553 26.3299 30.676 26.3278C30.6799 26.3274 30.6836 26.3266 30.6875 26.3261C30.704 26.3242 30.7203 26.3218 30.7365 26.3186C30.7434 26.3172 30.7502 26.3153 30.7571 26.3136C30.7697 26.3106 30.7823 26.3076 30.7946 26.3039C30.803 26.3014 30.811 26.2984 30.8191 26.2955C30.8297 26.2918 30.8403 26.2882 30.8505 26.284C30.8593 26.2804 30.8678 26.2764 30.8764 26.2723C30.8857 26.2681 30.895 26.2638 30.904 26.2591C30.9126 26.2545 30.921 26.2497 30.9295 26.2448C30.9381 26.2398 30.9467 26.2346 30.9551 26.2293C30.9632 26.224 30.971 26.2184 30.9788 26.2129C30.9871 26.207 30.9951 26.201 31.0032 26.1947C31.0104 26.1889 31.0176 26.1829 31.0246 26.1768C31.0326 26.1699 31.0404 26.1628 31.048 26.1555C31.0544 26.1494 31.0607 26.1431 31.0669 26.1366C31.0745 26.1287 31.0818 26.1206 31.089 26.1123C31.0947 26.1057 31.1002 26.0992 31.1056 26.0924C31.1126 26.0836 31.1192 26.0746 31.1257 26.0654C31.1307 26.0585 31.1355 26.0516 31.1402 26.0446C31.1463 26.0351 31.1522 26.0253 31.1578 26.0154C31.1621 26.008 31.1665 26.0006 31.1703 25.9931C31.1756 25.9832 31.1802 25.9731 31.1849 25.9629C31.1886 25.9548 31.1924 25.9468 31.1958 25.9384C31.1999 25.9285 31.2033 25.9183 31.207 25.9082C31.2101 25.8992 31.2133 25.8902 31.2161 25.881C31.2189 25.8712 31.2211 25.8612 31.2237 25.8513C31.2261 25.8413 31.2288 25.8314 31.2307 25.8213C31.2327 25.8113 31.2338 25.8013 31.2353 25.7912C31.2369 25.7808 31.2386 25.7705 31.2396 25.7599C31.2398 25.7584 31.2401 25.757 31.2402 25.7555L31.5559 22.1316H34.8113C36.7412 22.1316 37.6116 23.1315 38.533 24.1902C39.2933 25.0637 40.1422 26.0384 41.585 26.2761C41.4018 28.2136 41.1056 30.7009 40.973 31.79ZM41.6927 25.0138C40.7567 24.823 40.1808 24.165 39.4831 23.3634C38.6106 22.3611 37.5454 21.1379 35.5035 20.9099L35.8294 17.1686C39.169 17.6625 41.7402 20.5472 41.7402 24.0219C41.7402 24.258 41.7226 24.601 41.6927 25.0138Z"></path> <path d="M14.3621 30.1105C13.0886 30.1105 12.0525 31.1466 12.0525 32.4201C12.0525 33.6937 13.0886 34.7297 14.3621 34.7297C15.6355 34.7297 16.6716 33.6937 16.6716 32.4201C16.6716 31.1467 15.6355 30.1105 14.3621 30.1105ZM14.3621 33.4699C13.7832 33.4699 13.3123 32.999 13.3123 32.4201C13.3123 31.8412 13.7832 31.3703 14.3621 31.3703C14.941 31.3703 15.4119 31.8412 15.4119 32.4201C15.4119 32.999 14.9409 33.4699 14.3621 33.4699Z"></path>  <path d="M33.9715 30.1105C32.698 30.1105 31.6619 31.1466 31.6619 32.4201C31.6619 33.6937 32.698 34.7297 33.9715 34.7297C35.245 34.7297 36.2811 33.6937 36.2811 32.4201C36.2811 31.1467 35.245 30.1105 33.9715 30.1105ZM33.9715 33.4699C33.3926 33.4699 32.9217 32.999 32.9217 32.4201C32.9217 31.8412 33.3926 31.3703 33.9715 31.3703C34.5504 31.3703 35.0213 31.8412 35.0213 32.4201C35.0213 32.999 34.5504 33.4699 33.9715 33.4699Z"></path> <path d="M5.96293 15.8334H2.88355C2.5356 15.8334 2.25366 16.1154 2.25366 16.4633C2.25366 16.8111 2.5356 17.0932 2.88355 17.0932H5.96293C6.31088 17.0932 6.59282 16.8111 6.59282 16.4633C6.59282 16.1154 6.31088 15.8334 5.96293 15.8334Z"></path></svg>
      {{ 'products.product.badge.freeshipping' | t }}
    </span>
  </div>
{%- endunless -%}
